html{
  height:100%;
  box-sizing : border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body { font-family: Trebuchet MS,sans-serif;margin:0}
.mySlides {display:none;}

/* Slideshow container */
.slideshow-container {
  /* max-width: 600px; */
  position: relative;
  margin: auto;
  padding: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,4);
}

.slideshow-container div{
  -webkit-animation: round 20s linear infinite;
  animation: round 20s linear infinite;
}




/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}




.collum {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

nav{
  padding: 1.7rem;
  font-size: 17px;
}
.navbar-brand{
  font-size: 23px;
}
pre{
  text-align: center;
}

.error{
  color: #FF0000;
}

body {
    position: relative;
    margin:0;
    padding-bottom: 6rem;
    min-height: 100%;
    background-color: #e6eae8;
    background-position: bottom right;
    background-size: cover;
}
.footer{
   box-sizing: border-box;

   position:absolute;
   right: 0;
   bottom: 0;
   left: 0;
   width:100%;
   padding: 0.2rem;
   text-align: center;
   background-color: #706f6f;
}
